/* .fixed4{
    
    width: 50px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 0px;
    padding: 0px;
} */

  /* @media (max-width: 400px) {

    text-align: left;
  }
} */
.siderabout{
    margin-left: 20px;

   
}


.abouthead{
    
    color:rgb(3, 15, 121);
  }
  .sizesab{
    display: flex;
    gap: 60px;
    margin-left: 69px;
   width: 1190px;
  }

  